<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.chopchop.dao.RecipeLikeDao">

<resultMap type="RecipeLike" id="RecipeLikeMap">
<id column="like_id" property="recipeLikeNo"/>
<result column="member_id" property="memberNo"/>
<result column="recipe_id" property="recipeNo"/>
</resultMap>

<insert id="insertRecipeLike" parameterType="RecipeLike">
  insert into recipe_like(member_id,recipe_id)
  values(#{memberNo},#{recipeNo})
</insert>

<delete id="deleteRecipeLike" parameterType="RecipeLike">
  delete from recipe_like
  where recipe_id=#{recipeNo} AND member_id=#{memberNo}
</delete>

<!-- 
<select id="findRecipeLike" resultMap="RecipeLike">
  select count(like_id) 
  from recipe_like
  where recipe_id=#{recipeNo} and member_id=#{memberNo}
</select>
 -->

</mapper>