<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chop.dao.RecipeCommentDao">

   <resultMap type="RecipeComment" id="RecipeCommentMap">
    <id column="comment_id"         property="commentNo"/>
    <result column="recipe_id"         property="recipeNo"/>
    <result column="member_id"         property="memberNo"/>
    <result column="content"   property="rcontent"/>
    <result column="created_date" property="createdDate"/>
    <!-- <association property="member" javaType="Member">
      <id column="member_id"      property="no"/>
      <result column="nickname"   property="nickname"/>
    </association> -->
  </resultMap>
  
  
 
  
  


<select id="findAll" resultMap="RecipeCommentMap">
  select 
    *
  from recipe_comment
  order by comment_id
  </select>





  
  <select id="findBy" parameterType="int" resultMap="RecipeCommentMap">
    select * from recipe_comment
    where comment_id=#{haha} 
  </select>
  
  
  <insert id="insert" parameterType="RecipeComment"
  useGeneratedKeys="true"
          keyColumn="comment_id"
          keyProperty="commentNo">
    insert into recipe_comment(recipe_id, member_id, content, created_date)
    values(#{recipeNo}, #{memberNo}, #{rcontent}, now()) 
  </insert>
  
  
 <update id="update" parameterType="RecipeComment">
    update recipe_comment
     set
     content = #{rcontent}
  where comment_id=#{commentNo}
  </update>
  
  
  
  <delete id="delete" parameterType="int">
     delete from recipe_comment 
   where comment_id=#{value}
   
  </delete>
  
  <delete id="deleteAll" parameterType="int">
    delete from recipe_comment
    where comment_id=#{value}
  </delete>
  
</mapper>